body {
	background-color: #1E2232;
	color: #F7F7F7;
	font-family: "Source Serif 4", system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, "Noto Sans JP", sans-serif;
	overflow-x: hidden;
}

.u-desktop {
	display: none;
}

/* リキッドレイアウト対応 */

html {
	font-size: 16px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default padding */

ul,
ol {
	padding: 0;
}

/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Set core root defaults */

html {
	scroll-behavior: smooth;
	scroll-padding-top: 6.25rem;
}

/* Set core body defaults */

body {
	line-height: 2;
	min-height: 100vh;
	text-rendering: optimizeLegibility;
}

/* Remove list styles on ul, ol elements with a class attribute */

ul,
ol {
	list-style: none;
}

/* A elements that don't have a class get default styles */

a:not([class]) {
	-webkit-text-decoration-skip: ink;
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */

img {
	display: block;
	max-width: 100%;
	width: 100%;
}

/* Natural flow and rhythm in articles by default */

article > * + * {
	margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
	font: inherit;
}

/* Blur images when they have no alt attribute */

img:not([alt]) {
	filter: blur(10px);
}

/* フォームリセット */

input,
button,
select,
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: transparent;
	border: none;
	border-radius: 0;
	font: inherit;
	outline: none;
}

textarea {
	resize: vertical;
}

input[type=checkbox],
input[type=radio] {
	display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
	cursor: pointer;
}

select::-ms-expand {
	display: none;
}

/* ホバー */

a {
	-webkit-text-decoration: none;
	color: inherit;
	text-decoration: none;
	transition: opacity 0.3s;
}

.biography-wrapper {
	margin-top: 1.625rem;
	position: relative;
}

.biography-wrapper::after {
	background-image: url(../images/common/piano-top-deco.png);
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
	display: block;
	height: 6.25rem;
	left: calc(50% - min(45.7vw, 10.8rem));
	max-width: 6.25rem;
	position: absolute;
	top: -2.5rem;
	width: 100%;
	z-index: -1;
}

.blog-layout {
	margin-top: 3.25rem;
	position: relative;
}

.blog-layout::after {
	background-image: url(../images/common/score-deco.png);
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
	display: block;
	height: 6.25rem;
	left: calc(50% - min(45.7vw, 10.8rem));
	max-width: 6.25rem;
	position: absolute;
	top: -2.5rem;
	width: 100%;
	z-index: -1;
}

.blog-layout__2column {
	display: flex;
	flex-direction: column;
	position: relative;
}

.blog-layout__inner.inner {
	max-width: 33.75rem;
}

.contact-form-wrapper {
	margin-top: 2.5rem;
	position: relative;
}

.contact-form-wrapper::before {
	background-image: url(../images/common/piano-top-deco.png);
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
	display: block;
	height: 3.4375rem;
	left: calc(50% - min(49vw, 11.5rem));
	max-width: 7.375rem;
	position: absolute;
	top: 0rem;
	width: 100%;
	z-index: -1;
}

.contact-form-wrapper--success {
	margin-top: 3.25rem;
	text-align: center;
}

.contact-form-wrapper--success::before {
	top: -1.25rem;
}

.contact-wrapper {
	margin: 3.9375rem auto 0 auto;
	position: relative;
}

.contact-wrapper::after {
	background-image: url(../images/common/piano-top-deco.png);
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
	display: block;
	height: 7.5rem;
	max-width: 7.5rem;
	position: absolute;
	right: calc(50% - min(46.4vw, 10.8rem));
	top: -2.875rem;
	width: 100%;
	z-index: -1;
}

.footer-wrapper {
	color: #F7F7F7;
	margin-top: 6.25rem;
	opacity: 1;
	padding: 3rem 0 3.5rem 0;
}

.gallery-wrapper {
	margin-top: 2.25rem;
}

.gallery-wrapper::before {
	display: none;
}

.pager-wrapper {
	margin-top: 5rem;
}

.sidebar-layout {
	margin: 0 auto;
	margin-top: 5rem;
	max-width: 25rem;
	width: 100%;
}

.sidebar-layout__inner {
	padding: 0 1.5rem;
}

.top-biography-wrapper {
	margin-top: 4.875rem;
	position: relative;
}

.top-blog-wrapper {
	background-image: none;
	position: relative;
}

.top-performance-wrapper {
	margin-top: 4.375rem;
	padding: 5rem 0 4.8125rem;
}

.top-voice-wrapper {
	margin-top: 4.75rem;
}

.top-voice-wrapper::before {
	display: none;
}

.youtube-wrapper {
	display: flex;
	flex-direction: column;
	gap: 3.5rem;
}

.archive-month {
	display: block;
	margin-top: 0.1875rem;
	position: relative;
	width: -moz-fit-content;
	width: fit-content;
}

.archive-month::before {
	background: #ECBF09;
	bottom: 0;
	content: "";
	height: 0.125rem;
	left: 0;
	margin: auto;
	position: absolute;
	transform: scale(0, 1);
	transform-origin: right top;
	transition: transform 0.3s;
	width: 100%;
}

.archive-month:hover::before {
	transform: scale(1, 1);
	transform-origin: left top;
}

.archive-month {
	margin-top: 0.1875rem;
	position: relative;
}

.archive-month::after {
	background-image: url(../images/common/16beat-icon.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
	display: block;
	height: 1.25rem;
	left: -1.875rem;
	position: absolute;
	top: 0.9375rem;
	transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
	width: 1.25rem;
}

.archive-months {
	display: none;
	padding-left: 1.75rem;
}

.archive-year {
	cursor: pointer;
	margin-top: 0.1875rem;
	position: relative;
}

.archive-year::after {
	background-image: url(../images/common/16beat-icon.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
	display: block;
	height: 1.25rem;
	left: -1.875rem;
	position: absolute;
	top: 0.9375rem;
	transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
	width: 1.25rem;
}

.archive-year.open::after {
	transform: rotate(45deg);
}

.biography__inner.inner {
	max-width: 31.25rem;
	width: 100%;
}

.biography__img-wrapper {
	display: flex;
	flex-direction: row;
	margin-top: 1.75rem;
}

.biography__img-wrapper::after {
	display: none;
}

.biography__btn-wrapper {
	margin-top: 1.5625rem;
	padding-bottom: 0.3125rem;
	text-align: center;
}

.biography {
	display: flex;
	flex-direction: row;
}

.biography__content {
	grid-row-gap: 0rem;
	border: solid 0.0625rem #F7F7F7;
	display: grid;
	grid-template-columns: 1fr;
	margin-top: 2.5rem;
	padding: 1rem;
	row-gap: 0rem;
}

.biography__main-text {
	color: #ECBF09;
	font-family: "Source Serif 4", system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
	font-size: 2.5rem;
}

.biography__texts {
	font-weight: 300;
	margin-top: 1rem;
}

.biography__text {
	word-wrap: break-word;
	margin-top: 1rem;
	word-break: keep-all;
}

.biography__awards {
	word-wrap: break-word;
	margin-top: 1rem;
	word-break: keep-all;
}

.biography__name {
	border-bottom: solid 0.0625rem #ECBF09;
	font-size: 1.25rem;
	padding-bottom: 0.25rem;
}

.biography__img {
	aspect-ratio: 128/194;
	margin-bottom: 1.125rem;
	position: relative;
	width: 100%;
	z-index: 0;
}

.biography__img > img {
	-o-object-fit: cover;
	height: 100%;
	left: 50%;
	object-fit: cover;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.blog-article {
	margin: 0 auto;
	max-width: 33.75rem;
	width: 100%;
}

.blog-article__content {
	margin-top: 1.5rem;
}

.blog-article__time {
	display: block;
	font-family: "Source Serif 4", system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
	font-size: 0.875rem;
	margin-top: 0.3125rem;
}

.blog-article__thumbnail,
.blog-article__content figure {
	margin-top: 1.5rem;
}

.blog-article__content p {
	color: #F7F7F7;
	margin-top: 1.5rem;
}

.blog-article__content ul {
	margin-top: 1.5rem;
}

.blog-article__content li {
	margin-top: 0.3125rem;
	padding-left: 1.75rem;
	position: relative;
}

.blog-article__content li::before {
	background-image: url(../images/common/blog-article-icon.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
	display: block;
	height: 1.125rem;
	left: 0rem;
	position: absolute;
	top: 0.1875rem;
	width: 1.125rem;
}

.blog-article__pager-wrapper {
	margin-top: 2.5rem;
}

.blog-card {
	background-color: #CCCCD1;
	box-shadow: 0.125rem 0.125rem 0.625rem rgba(0, 0, 0, 0.25);
	cursor: pointer;
	opacity: 1;
	padding-bottom: 1.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 1rem;
	width: 100%;
}

.blog-card__img-wrapper {
	overflow: hidden;
}

.blog-card__img {
	aspect-ratio: 301/201;
	overflow: hidden;
	position: relative;
	transition: ease 0.5s all;
}

.blog-card__img > img {
	-o-object-fit: cover;
	height: 100%;
	left: 50%;
	object-fit: cover;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.blog-cards__item:hover .blog-card__img {
	transform: scale(1.1);
	transition: transform 0.3s ease;
}

.blog-card__img {
	transition: transform 0.3s ease;
}

.blog-card__body {
	margin-top: 1.0625rem;
}

.blog-card__title {
	word-wrap: anywhere;
	border-bottom: solid 0.0625rem #1E2232;
	color: #1E2232;
	flex-shrink: 0;
	font-size: 1rem;
	font-weight: 700;
	padding-bottom: 0.1875rem;
}

.blog-card__text {
	color: #1E2232;
	margin-top: 0;
	padding-top: 1rem;
}

.blog-card__time {
	color: #1E2232;
	font-family: "Source Serif 4", system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
	font-size: 0.75rem;
}

.blog-card__pager-wrapper {
	margin-top: 5rem;
}

.blog-card__no-message {
	margin-top: 3.125rem;
	text-align: center;
}

.blog-cards {
	grid-gap: 2.5rem;
	display: grid;
	gap: 2.5rem;
	grid-template-columns: 1fr;
	margin-top: 1.75rem;
}

.blog-cards--blog-page {
	gap: 2.4375rem;
	margin-top: 0;
}

.blog {
	margin: 0 auto;
	max-width: 33.75rem;
	width: 100%;
}

.blog__pager-wrapper {
	margin-top: 2.5rem;
}

.bread {
	font-size: 0.875rem;
	margin-top: 0.5rem;
}

.bread__arrow {
	height: 0.5rem;
	margin-top: 0.4375rem;
	width: 0.25rem;
}

.bread__arrow--error {
	display: none;
}

.bread__page {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
}

.bread__inner.inner {
	max-width: 33.75rem;
	width: 100%;
}

#breadcrumb {
	display: flex;
	gap: 0.5rem;
}

.btn {
	-webkit-text-decoration: none;
	-webkit-transition: ease-out 0.5s;
	-moz-transition: ease-out 0.5s;
	background: #1E2232;
	border: 0.0625rem solid #F7F7F7;
	color: #F7F7F7;
	cursor: pointer;
	display: inline-block;
	font-family: "Source Serif 4", system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
	font-size: 1rem;
	letter-spacing: 0.0625rem;
	margin: 0.9375rem;
	padding: 0.5rem 1.6875rem;
	position: relative;
	text-align: center;
	text-decoration: none;
	transition: ease-out 0.5s;
}

.btn::after,
.btn::before {
	content: "";
	height: 0;
	position: absolute;
	transition: 0.5s;
	width: 0;
}

.btn::after {
	border-left: 0.1875rem solid transparent;
	border-top: 0.1875rem solid transparent;
	left: -0.1875rem;
	top: -0.1875rem;
}

.btn::before {
	border-bottom: 0.1875rem solid transparent;
	border-right: 0.1875rem solid transparent;
	bottom: -0.1875rem;
	right: -0.1875rem;
}

.btn:hover {
	color: #ECBF09;
}

.btn:hover::after,
.btn:hover::before {
	border-color: #ECBF09;
	height: calc(65% + 0.1875rem);
	width: calc(65% + 0.1875rem);
}

.contact-form__inner.inner {
	max-width: 33.75rem;
	width: 100%;
}

.contact-form__item {
	display: flex;
	flex-direction: column;
	order: 2;
	padding: 1.46875rem 0;
	position: relative;
}

.contact-form__label {
	font-weight: 700;
	width: 100%;
}

.contact-form__label span {
	background-color: #ECBF09;
	color: #1E2232;
	display: inline-block;
	font-size: 0.75rem;
	font-weight: 400;
	height: -moz-fit-content;
	height: fit-content;
	margin-left: 0.5rem;
	padding: 0.125rem 0;
	text-align: center;
	width: 3.8125rem;
}

.contact-form__text {
	background-color: #F7F7F7;
	border: solid 0.0625rem #ECBF09;
	height: 2.5rem;
	margin-top: 1rem;
	opacity: 1;
	padding: 0 1rem;
	width: 100%;
}

.contact-form__text::-moz-placeholder {
	color: #9EAD52;
}

.contact-form__text::placeholder {
	color: #9EAD52;
}

.contact-form__textarea {
	border: solid 0.0625rem #ECBF09;
	height: 12.5rem;
	margin-top: 1rem;
	padding: 0.5rem;
	width: 100%;
}

.contact-form__checks {
	display: flex;
	flex-direction: column;
	margin-top: 0.875rem;
}

.contact-form__check {
	align-items: center;
	display: flex;
	margin: 0.125rem 0 0 0;
}

.contact-form__label {
	cursor: pointer;
}

.contact-form__agreement {
	align-items: center;
	display: flex;
	font-size: 0.875rem;
	justify-content: center;
	margin: 2.5rem auto 0;
	width: 100%;
}

.contact-form__agreement label {
	word-wrap: break-word;
}

.contact-form__check input[type=checkbox],
input[type=checkbox] {
	border: solid 0.0625rem #ECBF09;
	cursor: pointer;
	display: inline-block;
	height: 0.875rem;
	position: relative;
	width: 0.875rem;
}

.contact-form__check input[type=checkbox]:before,
input[type=checkbox]::before {
	opacity: 0;
}

.contact-form__check input[type=checkbox]:checked:before,
input[type=checkbox]:checked:before {
	background-image: url(../images/common/contact-form-check.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
	display: block;
	height: 0.5625rem;
	left: 0rem;
	opacity: 1;
	position: absolute;
	top: 0.125rem;
	width: 0.8125rem;
}

.contact-form__agreement {
	order: 3;
}

.contact-form__agreement input[type=checkbox] {
	border: solid 0.0625rem #ECBF09;
	cursor: pointer;
	display: inline-block;
	height: 1.375rem;
	position: relative;
	width: 1.375rem;
}

.contact-form__agreement input[type=checkbox]:before {
	opacity: 0;
}

.contact-form__agreement input[type=checkbox]:checked:before {
	background-image: url(../images/common/check-icon.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
	display: block;
	height: 0.6875rem;
	left: 0.125rem;
	opacity: 1;
	position: absolute;
	top: 0.25rem;
	width: 1rem;
}

.contact-form__btn-wrapper {
	display: flex;
	justify-content: center;
	margin-top: 1.5rem;
	order: 4;
	text-align: center;
}

.contact-form__error-text {
	display: none;
}

.contact-form__error-text:nth-child(2) {
	margin-left: -5.375rem;
	text-indent: 0.875rem;
}

.contact-form__text {
	background-color: rgba(201, 72, 0, 0.2);
	border: solid 0.0625rem #c94800;
	font-size: 1rem;
	height: 12.5rem;
	margin-top: 1rem;
	padding-left: 1rem;
	width: 100%;
}

.contact-form__text.error {
	background-color: rgba(201, 72, 0, 0.2);
	border: solid 0.0625rem #c94800;
}

.contact-form__textarea.error {
	background-color: rgba(201, 72, 0, 0.2);
	border: solid 0.0625rem #c94800;
}

.contact-form__success-title {
	font-size: 1rem;
	font-weight: 400;
}

.contact-form__success {
	text-wrap: nowrap;
	display: flex;
	flex-direction: column;
}

.contact-form__success-text {
	text-align: center;
}

.contact-form__submit {
	-webkit-text-decoration: none;
	-webkit-transition: ease-out 0.5s;
	-moz-transition: ease-out 0.5s;
	background: #1E2232;
	border: 0.0625rem solid #F7F7F7;
	color: #F7F7F7;
	cursor: pointer;
	display: inline-block;
	font-family: "Source Serif 4", system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
	font-size: 1rem;
	letter-spacing: 0.0625rem;
	position: relative;
	text-align: center;
	text-decoration: none;
	transition: ease-out 0.5s;
}

.contact-form__submit::after,
.contact-form__submit::before {
	content: "";
	height: 0;
	position: absolute;
	transition: 0.5s;
	width: 0;
}

.contact-form__submit::after {
	border-left: 0.1875rem solid transparent;
	border-top: 0.1875rem solid transparent;
	left: -0.1875rem;
	top: -0.1875rem;
}

.contact-form__submit::before {
	border-bottom: 0.1875rem solid transparent;
	border-right: 0.1875rem solid transparent;
	bottom: -0.1875rem;
	right: -0.1875rem;
}

.contact-form__submit:hover {
	color: #ECBF09;
}

.contact-form__submit:hover::after,
.contact-form__submit:hover::before {
	border-color: #ECBF09;
	height: calc(65% + 0.1875rem);
	width: calc(65% + 0.1875rem);
}

.contact__inner.inner {
	max-width: 33.75rem;
}

.contact__content-inner {
	align-items: center;
	background-color: rgba(247, 247, 247, 0.15);
	display: flex;
	flex-direction: column;
	padding: 1.5rem;
	text-align: center;
}

.contact__info {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.contact__sns {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 1.5rem;
	justify-content: center;
}

.contact__twitter,
.contact__instagram {
	height: 2rem;
	width: 2rem;
}

.contact__img {
	aspect-ratio: 4/3;
	margin: 1rem auto 0 auto;
	position: relative;
	width: 100%;
}

.contact__img > img {
	-o-object-fit: cover;
	height: 100%;
	left: 50%;
	object-fit: cover;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.contact__texts {
	width: 100%;
}

.contact__text {
	color: #ECBF09;
	font-size: 0.875rem;
}

.contact__btn-wrapper {
	padding-bottom: 0.3125rem;
	text-align: center;
}

.contact__title {
	color: #F7F7F7;
	font-family: "Source Serif 4", system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
	font-size: 3.75rem;
	font-weight: 400;
}

.contact__titles::first-letter {
	color: #ECBF09;
}

.footer__inner {
	margin: 0 auto;
	max-width: 33.75rem;
	width: 100%;
}

.footer__logo {
	cursor: pointer;
	height: auto;
	width: 7.5rem;
}

.footer__icons {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	max-width: 31.25rem;
	width: 100%;
}

.footer__sns-logos {
	-moz-column-gap: 1.4375rem;
	column-gap: 1.4375rem;
	display: flex;
	flex-direction: row;
	margin-left: 0rem;
	margin-top: 1.140625rem;
}

.footer__sns-logo {
	cursor: pointer;
	height: auto;
	width: 1.21875rem;
}

.footer__copy {
	font-family: "Source Serif 4", system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
	font-size: 0.75rem;
	margin-top: 2.5rem;
	text-align: center;
}

.footer__site-map-wrapper {
	margin-top: 2.5rem;
}

.footer__js-scroll-top__img {
	max-width: 100%;
	width: 100%;
}

.gallery__photos-wrapper {
	margin-top: 2.5rem;
}

.header {
	background-color: rgba(30, 34, 50, 0.68);
	height: 5rem;
	left: 0;
	overscroll-behavior-y: contain;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 500;
}

.header__inner {
	align-items: center;
	display: flex;
	flex-direction: row;
	height: inherit;
	justify-content: space-between;
	padding: 0 0.9375rem;
	width: 100%;
}

.header__logo {
	height: auto;
	width: 6.375rem;
}

.header__content {
	height: 2.5rem;
}

.header__pc-nav {
	display: none;
}

.header__site-map-wrapper {
	height: -webkit-fill-available;
	overflow-y: scroll;
	overscroll-behavior: contain;
	width: 100%;
}

.header__site-map-inner {
	max-width: 33.75rem;
	padding: 0 0.9375rem;
	width: 100%;
}

.header__sp-nav {
	background-color: #1E2232;
	color: #F7F7F7;
	display: none;
	height: 100vh;
	margin-top: -5rem;
	padding-top: 6.5rem;
	width: 100%;
}

.header__site-map {
	-moz-column-gap: 0.5rem;
	column-gap: 0.5rem;
	height: calc(100vh - 5rem);
	margin: -1.0625rem auto 0 auto;
	max-width: 31.25rem;
}

.header__hamburger {
	cursor: pointer;
	height: 2.5rem;
	position: relative;
	text-align: center;
	width: 3.125rem;
}

.header__hamburger span {
	background-color: #F7F7F7;
	height: 0.125rem;
	left: 0;
	position: absolute;
	width: 100%;
}

.header__hamburger,
.header__hamburger span {
	box-sizing: border-box;
	display: inline-block;
	transition: all 0.5s;
}

.header__hamburger span:nth-of-type(1) {
	top: 0rem;
}

.header__hamburger span:nth-of-type(2) {
	background-color: transparent;
	top: 0.25rem;
}

.header__hamburger span:nth-of-type(3) {
	bottom: 0rem;
}

#js-hamburger.js-active span:nth-of-type(1) {
	left: -0.3125rem;
	top: 0.5625rem;
	transform: translateY(0.6875rem) rotate(37deg);
	width: 2.5625rem;
}

#js-hamburger.js-active span:nth-of-type(2) {
	opacity: 0;
}

#js-hamburger.js-active span:nth-of-type(3) {
	bottom: 0.375rem;
	left: -0.3125rem;
	transform: translateY(-0.6875rem) rotate(-37deg);
	width: 2.5625rem;
}

.inner {
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
}

.js-color-box {
	position: relative;
}

.js-color-box div.color {
	background-color: #ECBF09;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 2;
}

.js-color-box img {
	display: block;
	width: 100%;
}

.js-loading {
	background-color: #330000;
	height: 100%;
	position: fixed;
	top: 0;
	width: 50%;
	z-index: 1000;
}

.js-loading.js-loading-left {
	left: 0;
}

.js-loading.js-loading-right {
	right: 0;
}

.curtain {
	background-color: #2b2b2b;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed; /* カーテンの色 */
	transform: translateY(100%);
	width: 100%; /* 最初は画面の外に隠す */
}

#js-scroll-top a {
	align-items: center;
	background-color: transparent;
	display: flex;
	height: 6rem;
	justify-content: center;
	transition: all 0.3s;
	width: 3rem;
}

#js-scroll-top a:hover {
	background: transparent;
}

/*リンクを右下に固定*/

#js-scroll-top { /*はじめは非表示*/
	opacity: 0;
	position: fixed;
	right: 1.25rem;
	transform: translateY(6.25rem);
	z-index: 2;
}

/*上に上がる動き*/

#js-scroll-top.UpMove {
	animation: UpAnime 0.5s forwards;
}

/*下に下がる動き*/

#js-scroll-top.DownMove {
	animation: DownAnime 0.5s forwards;
}

.lower-FV__img {
	background-color: rgba(0, 0, 0, 0.5);
	background-image: url(../images/common/piano-contact.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 28.75rem;
	position: relative;
	position: relative;
	width: 100%;
}

.lower-FV__img::before {
	background-color: rgba(0, 0, 0, 0.5);
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.lower-FV__img h1 {
	text-wrap: nowrap;
	color: #F7F7F7;
	font-family: "Source Serif 4", system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
	font-size: 2.5rem;
	font-weight: 400;
	left: 50%;
	position: absolute;
	text-align: center;
	top: 14.3125rem;
	transform: translate(-50%, -50%);
}

.lower-FV__img--performance {
	background-image: url(../images/common/piano-youtube.jpeg);
}

.lower-FV__img--biography {
	background-image: url(../images/common/piano-contact.jpg);
}

.lower-FV__img--blog {
	background-image: url(../images/common/piano-contact.jpg);
}

.lower-FV__img--contact {
	background-image: url(../images/common/piano-contact.jpg);
}

.modal {
	background: rgba(20, 20, 20, 0.8);
	box-sizing: border-box;
	cursor: pointer;
	left: 0;
	opacity: 0;
	overflow: auto;
	position: fixed;
	text-align: center;
	top: 0;
	transform: scale(0.9);
	transition: opacity 0.5s ease, transform 0.5s ease;
	visibility: hidden;
	width: 100%;
	z-index: 1000;
}

/*モーダル本体に「active」クラス付与した時のスタイル*/

.modal.active {
	display: flex;
	opacity: 1;
	transform: scale(1);
	visibility: visible;
}

/*モーダル枠の指定*/

.modal__body {
	align-items: center;
	display: flex;
	height: 100vh;
	justify-content: center;
	position: relative;
	width: 100%;
}

.modal__content {
	max-width: 33.75rem;
	position: relative;
	width: 100%;
}

.modal__content > img {
	-o-object-fit: cover;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.no-page {
	background-color: rgba(30, 34, 50, 0.8);
	color: #F7F7F7;
	position: relative;
}

.no-page__inner.inner {
	max-width: 33.75rem;
}

.no-page::after {
	background-image: url(../images/common/piano-top-deco.png);
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
	height: 21.5625rem;
	left: calc(50% - min(46vw, 11rem));
	max-width: 21.5625rem;
	position: absolute;
	top: -0.5625rem;
	width: 100%;
	z-index: -1;
}

.no-page__title-wrapper {
	margin-top: 3.75rem;
}

.no-page__title {
	font-family: "Source Serif 4", system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
	font-size: 3.75rem;
	font-weight: 400;
	letter-spacing: 0.1em;
	line-height: 1;
	text-align: center;
}

#no-page__bread {
	display: flex;
	gap: 0.5rem;
	margin-top: 5.5rem;
}

.no-page__texts {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.no-page__img {
	width: 40%;
}

.no-page__btn-wrapper {
	text-align: center;
}

.pager {
	display: flex;
	flex-direction: row;
	gap: 2.4375rem;
	justify-content: center;
}

.pager--blog-article {
	gap: 5.125rem;
}

.wp-pagenavi a,
.wp-pagenavi span {
	align-items: center;
	background-color: #1E2232;
	border: solid 0.0625rem #ECBF09;
	cursor: pointer;
	display: inline-block;
	display: flex;
	height: 2.375rem;
	justify-content: center;
	transition: all 0.3s ease;
	width: 2.375rem;
}

.pager__number-wrapper,
.wp-pagenavi {
	display: flex;
	flex-direction: row;
	gap: 0.6875rem;
}

.pager__number,
a.page.larger,
a.page.smaller {
	background-color: #1E2232;
	border: solid 0.0625rem #ECBF09;
	color: #ECBF09;
	cursor: pointer;
	display: inline-block;
	height: 2.375rem;
	line-height: 1;
	min-width: 2.375rem;
	padding: 0.6875rem 0.3125rem;
	text-align: center;
	transition: all 0.3s ease;
}

.wp-pagenavi span.current {
	background-color: #ECBF09;
	border: solid 0.0625rem #ECBF09;
	color: #1E2232;
}

.pager__number:nth-child(5),
.pager__number:nth-child(6) {
	display: none;
}

.pager__number:hover,
.wp-pagenavi span.current:hover,
a.page.larger:hover,
a.page.smaller:hover {
	background-color: #ECBF09;
	color: #1E2232;
}

.pager__path {
	transition: fill 0.3s;
}

.pager__before-page {
	align-items: center;
	border: solid 0.0625rem #ECBF09;
	cursor: pointer;
	display: inline-block;
	display: flex;
	height: 2.375rem;
	justify-content: center;
	transition: all 0.3s ease;
	width: 2.375rem;
}

.pager__before-page:hover {
	background-color: #ECBF09;
	color: #F7F7F7;
}

.pager__before-page span {
	-webkit-mask-position: center center;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-size: 30%;
	-webkit-mask-image: url(../images/common/pager-pre.svg);
	background: #ECBF09;
	mask-image: url(../images/common/pager-pre.svg);
	mask-position: center center;
	mask-repeat: no-repeat;
	mask-size: 30%;
}

.pager__before-page span:hover {
	background: #1E2232;
}

.pager__after-page {
	align-items: center;
	border: solid 0.0625rem #ECBF09;
	cursor: pointer;
	display: inline-block;
	display: flex;
	height: 2.375rem;
	justify-content: center;
	transition: all 0.3s ease;
	width: 2.375rem;
}

.pager__after-page:hover {
	background-color: #ECBF09;
	color: #1E2232;
}

.pager__after-page span {
	-webkit-mask-position: center center;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-size: 30%;
	-webkit-mask-image: url(../images/common/pager-next.svg);
	background: #ECBF09;
	mask-image: url(../images/common/pager-next.svg);
	mask-position: center center;
	mask-repeat: no-repeat;
	mask-size: 30%;
}

.pager__after-page span:hover {
	background: #1E2232;
}

a.nextpostslink {
	margin-left: 1.75rem;
}

a.previouspostslink {
	margin-right: 1.75rem;
}

.pager__before,
.pager__after {
	background-color: #1E2232;
	border: solid 0.0625rem #ECBF09;
	color: #ECBF09;
	cursor: pointer;
	display: inline-block;
	height: 2.375rem;
	transition: all 0.3s ease;
	width: 2.375rem;
}

.pager__before:hover,
.pager__after:hover {
	background-color: #ECBF09;
	color: #1E2232;
}

.pager__before a,
.pager__after a {
	align-items: center;
	display: flex;
	height: inherit;
	justify-content: center;
	width: inherit;
}

.pager__before:hover .pager__path,
.pager__after:hover .pager__path {
	stroke: #1E2232;
}

.performance {
	margin-top: 3.1875rem;
	position: relative;
}

.performance::after {
	background-image: url(../images/common/piano-top-deco.png);
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
	display: block;
	height: 6.25rem;
	left: calc(50% - min(45.7vw, 10.8rem));
	max-width: 6.25rem;
	position: absolute;
	top: -2.5rem;
	width: 100%;
	z-index: -1;
}

.performance__inner.inner {
	max-width: 33.75rem;
	width: 100%;
}

.photo:nth-child(6n),
.photo:nth-child(6n+1) {
	aspect-ratio: 345/446;
	cursor: pointer;
	grid-row: span 2;
	position: relative;
}

.photo:nth-child(6n+2),
.photo:nth-child(6n+3),
.photo:nth-child(6n+4),
.photo:nth-child(6n+5) {
	aspect-ratio: 345/219;
	cursor: pointer;
	grid-row: span 1;
	position: relative;
}

.photo > img {
	-o-object-fit: cover;
	height: 100%;
	left: 50%;
	object-fit: cover;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.photos {
	grid-gap: 0.5rem;
	display: grid;
	gap: 0.5rem;
	grid-auto-rows: 1fr;
}

.popular-card {
	background-color: rgba(247, 247, 247, 0.8);
	box-shadow: 0.125rem 0.125rem 0.625rem rgba(0, 0, 0, 0.25);
	cursor: pointer;
	display: flex;
	gap: 1rem;
	opacity: 1;
	padding: 1rem;
}

.popular-card__img {
	aspect-ratio: 121/90;
	position: relative;
	width: 49%;
}

.popular-card__img > img {
	-o-object-fit: cover;
	height: 100%;
	left: 50%;
	object-fit: cover;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.popular-card__text {
	color: #1E2232;
	width: 51%;
}

.popular-card__time {
	color: #1E2232;
	display: block;
	font-family: "Source Serif 4", system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
	font-size: 0.75rem;
}

.popular-card__title {
	color: #1E2232;
	font-size: 1rem;
	margin-top: 0.25rem;
}

.popular-card__no-message {
	margin-top: 1.5rem;
}

.popular-cards {
	display: flex;
	flex-direction: column;
	gap: 1.4375rem;
	margin-top: 1.5rem;
}

.privacy {
	margin-top: 3.125rem;
}

.privacy__inner.inner {
	max-width: 33.75rem;
	width: 100%;
}

.privacy__title {
	position: relative;
}

.privacy__title::before {
	background-image: url(../images/common/piano-top-deco.png);
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
	display: block;
	height: 3.4375rem;
	left: calc(50% - min(32vw, 7.5rem));
	max-width: 7.3125rem;
	position: absolute;
	top: -1.4375rem;
	width: 100%;
	z-index: -1;
}

.privacy__title h2 {
	font-size: 1.5rem;
}

.privacy__text ol {
	list-style: decimal;
	margin-top: 0rem;
}

.privacy__text ol:first-child {
	list-style: decimal;
	margin-top: 1.9375rem;
}

.privacy__text li {
	margin-left: 1.5rem;
}

.privacy__text {
	line-height: 2;
	margin-top: 2.3125rem;
}

.privacy__text p {
	color: #F7F7F7;
	margin-top: 2rem;
}

.privacy__text p:first-child {
	margin-top: 0;
}

.wp-block-heading strong {
	background: url(../images/common/note-deco.svg) no-repeat 0 0;
	background-size: auto 2rem;
	padding-left: 2rem;
}

.repertory__list {
	background-color: #ECBF09;
	cursor: pointer;
	padding: 1.0625rem 3.125rem 1.0625rem 1.0625rem;
	position: relative;
}

.repertory__list h2 {
	color: #1E2232;
	font-size: 1rem;
	font-weight: 400;
}

.repertory__list::before {
	background-color: #1E2232;
	content: "";
	display: block;
	height: 0.0625rem;
	position: absolute;
	right: 1.0625rem;
	top: 50%;
	width: 1.75rem;
}

.repertory__list::after {
	background-color: #1E2232;
	content: "";
	display: block;
	height: 0.0625rem;
	position: absolute;
	right: 1.0625rem;
	top: 50%;
	transform: rotate(-180deg);
	transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
	width: 1.75rem;
}

.repertory__list.open::after {
	transform: rotate(0deg);
}

.repertory__note {
	border: solid 0.0625rem #ECBF09;
	display: none;
	margin-top: 0;
	padding: 1.375rem 0;
}

.repertory__note p {
	color: #F7F7F7;
	line-height: 1.45;
	margin: 0 1rem;
}

.repertory__no-content {
	margin-top: 3.125rem;
	text-align: center;
}

select {
	border: solid 0.0625rem #ECBF09;
	font-size: 0.75rem;
	font-size: 0.75rem;
	height: 2.5rem;
	margin-top: 1rem;
	padding: 0.625rem 2rem 0.625rem 1rem;
	width: 100%;
}

.sidebar {
	display: flex;
	flex-direction: column;
	gap: 5rem;
}

.sidebar__title {
	border-left: solid 0.25rem #ECBF09;
	font-size: 1.5rem;
	font-weight: 700;
	padding: 0.25rem 0 0.25rem 1.875rem;
	position: relative;
}

.sidebar__btn-wrapper {
	margin-top: 2.6875rem;
	text-align: center;
}

.sidebar__category-items li a {
	font-size: 1.5rem;
	position: relative;
}

.sidebar__category-items li {
	background: url(../images/common/16beat-icon.svg) no-repeat;
	background-position: 0px;
	background-size: auto 1.25rem;
	cursor: pointer;
	margin-top: 1rem;
	padding-left: 1.875rem;
}

.sidebar__category-items li a::before {
	background: #ECBF09;
	bottom: 0;
	content: "";
	height: 0.125rem;
	left: 0;
	margin: auto;
	position: absolute;
	transform: scale(0, 1);
	transform-origin: right top;
	transition: transform 0.3s;
	width: 100%;
}

.sidebar__category-items li a:hover::before {
	transform: scale(1, 1);
	transform-origin: left top;
}

.sidebar__archive-content {
	color: #F7F7F7;
	cursor: pointer;
	font-size: 1.5rem;
	margin-top: 1.5rem;
	padding-left: 2rem;
}

.site-map {
	-moz-column-gap: 1.0625rem;
	word-wrap: break-word;
	column-gap: 1.0625rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 auto;
	width: 100%;
	word-break: keep-all;
}

.site-map__contents {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	margin-left: 1.5rem;
}

.site-map__main-title {
	font-family: "Source Serif 4", system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.125;
	list-style: none;
}

.site-map__titles {
	background: url(../images/common/note-deco.svg) no-repeat 0 0;
	background-position: left center;
	background-size: auto 70%;
	display: flex;
	flex-direction: column;
	padding-left: 2rem;
}

.site-map__titles:hover {
	background-color: rgba(247, 247, 247, 0.25);
	border-radius: 50%;
	box-shadow: 0 0 0.625rem 0.625rem rgba(247, 247, 247, 0.25);
	transition: ease 0.5s;
	width: -moz-fit-content;
	width: fit-content;
	z-index: -1;
}

.title {
	font-family: "Source Serif 4", system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
	font-size: 1.5rem;
	letter-spacing: 0.1em;
	padding: 0 1rem;
	position: relative;
	text-align: center;
	width: -moz-fit-content;
	width: fit-content;
}

.title span {
	display: inline-block;
}

.title:after {
	background-image: linear-gradient(135deg, #704308 0%, #ffce08 40%, #e1ce08 60%, #704308 100%);
	bottom: 0;
	content: "";
	height: 0.125rem;
	left: 0;
	position: absolute;
	width: 100%;
}

.title::first-letter {
	color: #ECBF09;
}

.title--youtube {
	letter-spacing: 0;
	text-align: left;
	width: 100%;
}

.top-biography__inner.inner {
	max-width: 31.25rem;
	width: 100%;
}

.top-biography__img-wrapper {
	display: flex;
	flex-direction: row;
	margin-top: 1.75rem;
}

.top-biography__btn-wrapper {
	margin-top: 1.5625rem;
	padding-bottom: 0.3125rem;
	text-align: center;
}

.top-biography {
	display: flex;
	flex-direction: row;
}

.top-biography__content {
	grid-row-gap: 0rem;
	display: grid;
	grid-template-columns: 1fr;
	margin-top: 2.4375rem;
	row-gap: 0rem;
}

.top-biography__main-text {
	color: #ECBF09;
	font-family: "Source Serif 4", system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
	font-size: 2.5rem;
}

.top-biography__title {
	word-wrap: anywhere;
	border-bottom: solid 0.0625rem #ECBF09;
	color: #F7F7F7;
	flex-shrink: 0;
	font-size: 1.5rem;
	font-weight: 400;
	padding-bottom: 0.1875rem;
}

.top-biography__texts {
	font-weight: 300;
	margin-top: 1rem;
}

.top-biography__texts::after {
	display: none;
}

.top-biography__text {
	margin-top: 1rem;
}

.top-biography__img {
	aspect-ratio: 128/194;
	margin-bottom: 1.125rem;
	position: relative;
	width: 100%;
	z-index: 0;
}

.top-biography__img > img {
	-o-object-fit: cover;
	height: 100%;
	left: 50%;
	object-fit: cover;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.top-blog__inner {
	max-width: 33.75rem;
}

.top-blog__btn-wrapper {
	margin-top: 2.5rem;
	padding-bottom: 0.3125rem;
	text-align: center;
}

.top-performance__inner.inner {
	max-width: 33.75rem;
}

.top-performance__btn-wrapper {
	margin-top: 2.5rem;
	padding-bottom: 0.3125rem;
	text-align: center;
}

.top-performance__content {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	margin: 1.75rem auto 0;
	text-align: left;
	width: 100%;
}

.top-performance__youtube-title {
	border-bottom: solid 0.0625rem #ECBF09;
}

.top-performance__text {
	color: #F7F7F7;
	margin-top: 0.5rem;
}

.top-performance__img {
	aspect-ratio: 345/227;
	max-width: 33.75rem;
	position: relative;
	width: 100%;
}

.top-performance__img > img {
	-o-object-fit: cover;
	height: 100%;
	left: 50%;
	object-fit: cover;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.top-performance__btn-wrapper {
	margin-top: 2.5rem;
	text-align: center;
}

#js-topFVswiper {
	height: 100vh;
	position: relative;
	width: 100%;
}

.topFVswiper__slide {
	align-items: center;
	display: flex;
	height: 100vh;
	justify-content: center;
	position: relative;
}

.topFVswiper__slide::before {
	background-color: rgba(0, 0, 0, 0.5);
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.topFVswiper__slide img {
	-o-object-fit: cover;
	display: block;
	height: 100vh;
	object-fit: cover;
	width: 100%;
}

.topFVswiper__wrapper {
	flex-direction: row;
	margin: 0 auto;
	width: 100%;
}

.topFVswiper__texts {
	word-wrap: break-word;
	bottom: 10%;
	color: #F7F7F7;
	margin-left: 1rem;
	position: absolute;
	text-align: center;
	width: -moz-fit-content;
	width: fit-content;
	word-break: keep-all;
	z-index: 10;
}

.topFVswiper__main-text {
	font-family: "Source Serif 4", system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
	font-size: 2.5rem;
	font-weight: 700;
	letter-spacing: 0.3em;
	text-align: left;
	width: -moz-fit-content;
	width: fit-content;
}

.css-175oi2r {
	-webkit-text-decoration: none;
	align-items: stretch;
	background-color: #F7F7F7;
	border: 0px solid #1E2232;
	box-sizing: border-box;
	display: flex;
	flex-basis: auto;
	flex-direction: column;
	flex-shrink: 0;
	list-style: none;
	margin: 0px;
	min-height: 0px;
	min-width: 0px;
	padding: 0px;
	position: relative;
	text-decoration: none;
	z-index: 0;
}

a.css-175oi2r.r-sdzlij.r-1phboty.r-rs99b7.r-lrvibr.r-k200y.r-1j93nrh.r-1mnahxq.r-19yznuf.r-64el8z.r-1fkl15p.r-o7ynqc.r-6416eg.r-1ny4l3l.r-1loqt21 {
	background-color: #1E2232;
}

ul.custom_widget a {
	align-items: center;
	display: flex;
	gap: 1rem;
	padding: 0.625rem 0;
}

ul.custom_widget li :hover {
	background-color: #9EAD52;
}

ul.custom_widget {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.dashicons {
	color: #ECBF09;
	font-size: 1.5rem;
}

p#block-1c3e6409-d29e-4efc-bbe8-f43b450af9f5,
p.block-editor-default-block-appender__content {
	background-color: #fff;
	color: #444;
}

textarea#acf-field_669713a287c24,
textarea#acf-field_669718180f1f4 {
	border: solid 0.0625rem #2c3338;
	border-radius: 0.25rem;
	box-sizing: border-box;
	font-size: 0.875rem;
	line-height: 1.4;
	margin: 0;
	padding: 0.5rem;
	width: 100%;
}

ul.acf-radio-list li label,
ul.acf-checkbox-list li label {
	display: flex !important;
}

ul.acf-radio-list li label,
ul.acf-checkbox-list li label {
	align-items: center;
}

ul.acf-radio-list li input[type=radio] {
	border: solid 0.0625rem #8c8f94;
	display: block;
}

ul.acf-radio-list li input[type=radio]::before {
	border: solid 0.0625rem #8c8f94;
}

form.wpcf7-form.invalid,
form.wpcf7-form.init {
	display: flex;
	flex-direction: column;
}

input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required {
	background-color: rgba(236, 191, 9, 0.15);
	border: solid 0.0625rem #ECBF09;
	color: #F7F7F7;
	height: 2.5rem;
	margin-top: 1rem;
	opacity: 1;
	padding: 0 1rem;
	width: 100%;
}

textarea.wpcf7-form-control.wpcf7-textarea.wpcf7-validates-as-required {
	background-color: rgba(236, 191, 9, 0.15);
	border: solid 0.0625rem #ECBF09;
	color: #F7F7F7;
	height: 12.5rem;
	margin-top: 1rem;
	padding: 0.5rem;
	width: 100%;
}

span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required {
	display: flex;
	flex-direction: column;
	margin-top: 0.875rem;
}

.wpcf7-list-item label {
	align-items: center;
	display: flex;
	margin: 0.125rem 0 0 0;
}

input.wpcf7-form-control.wpcf7-submit {
	background-color: transparent;
	color: #F7F7F7;
	display: inline-block;
	font-family: "Source Serif 4", system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
	font-size: 0.875rem;
	line-height: 1.5714;
	padding: 1rem 0;
	position: relative;
	text-align: center;
	width: 12.625rem;
	z-index: 5;
}

span.wpcf7-form-control.wpcf7-checkbox {
	display: flex;
	flex-direction: column;
}

span.wpcf7-list-item-label {
	max-width: 15.75rem;
	width: 100%;
}

/* Webkitブラウザ（Chrome, Safari, Opera）用 */

input.wpcf7-form-control.wpcf7-text::-moz-placeholder {
	color: #1E2232;
}

input.wpcf7-form-control.wpcf7-text::placeholder {
	color: #1E2232;
}

/* Firefox用 */

input.wpcf7-form-control.wpcf7-text::-moz-placeholder {
	color: #1E2232;
	opacity: 1;
}

/* Internet Explorer用 */

input.wpcf7-form-control.wpcf7-text:-ms-input-placeholder {
	color: #1E2232;
}

/* Edge用 */

input.wpcf7-form-control.wpcf7-text::-ms-input-placeholder {
	color: #1E2232;
}

/* Safari用 */

input.wpcf7-form-control.wpcf7-text::-moz-placeholder {
	color: #1E2232;
}

input.wpcf7-form-control.wpcf7-text::placeholder {
	color: #1E2232;
}

.wpcf7-spinner {
	display: none;
}

.wpcf7-not-valid-tip {
	display: none;
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.payment-required .wpcf7-response-output {
	border-color: transparent;
	color: #c94800;
	display: flex;
	flex-direction: column;
	font-size: 0.875rem;
	justify-content: center;
	margin: 0 auto;
	order: 1;
	width: -moz-fit-content;
	width: fit-content;
}

.wpcf7 form.invalid input[type=text],
.wpcf7 form.invalid input[type=email],
.wpcf7 form.invalid input[type=tel],
.wpcf7 form.invalid textarea {
	border: solid 0.0625rem #c94800 !important;
}

.wpcf7 form.invalid input[type=text],
.wpcf7 form.invalid input[type=email],
.wpcf7 form.invalid input[type=tel],
.wpcf7 form.invalid textarea {
	background-color: rgba(201, 72, 0, 0.2);
	font-size: 1rem;
	margin-top: 1rem;
	padding-left: 1rem;
	width: 100%;
}

.wpcf7 form.invalid input[type=text]::-moz-placeholder,
.wpcf7 form.invalid input[type=email]::-moz-placeholder,
.wpcf7 form.invalid input[type=tel]::-moz-placeholder {
	color: #F7F7F7;
}

.wpcf7 form.invalid input[type=text]::placeholder,
.wpcf7 form.invalid input[type=email]::placeholder,
.wpcf7 form.invalid input[type=tel]::placeholder {
	color: #F7F7F7;
}

.youtube {
	grid-gap: 1.5rem;
	display: grid;
	gap: 1.5rem;
	grid-template-columns: 1fr;
}

h2.youtube__title.title.title--youtube {
	font-size: 1.25rem;
}

.youtube__video {
	height: 0;
	padding-top: 56.25%;
	position: relative;
	width: 100%;
}

.youtube__video iframe {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.youtube__text {
	margin-top: 1rem;
}

.youtube_btn-wrapper {
	margin-top: 2.25rem;
	text-align: center;
}

@media screen and (min-width: 768px) {

.u-desktop {
	display: block;
}

.u-mobile {
	display: none;
}

html {
	font-size: 1.4814814815vw;
}

.biography-wrapper {
	margin-top: 9.375rem;
}

.biography-wrapper::after {
	height: 12.5rem;
	left: calc(50% - min(36vw, 24rem));
	max-width: 12.5rem;
	top: -5.625rem;
}

.blog-layout {
	margin-top: 6.25rem;
}

.blog-layout::after {
	height: 12.5rem;
	left: calc(50% - min(43vw, 38.7rem));
	max-width: 12.5rem;
}

.blog-layout__2column {
	flex-direction: row;
	gap: 8%;
}

.blog-layout__inner.inner {
	max-width: 75rem;
}

.contact-form-wrapper {
	margin-top: 5rem;
}

.contact-form-wrapper::before {
	height: 8.625rem;
	left: calc(50% - min(29vw, 22.7rem));
	max-width: 18.8125rem;
	top: -1.125rem;
}

.contact-form-wrapper--success {
	margin-top: 9.375rem;
}

.contact-form-wrapper--success::before {
	top: -4.375rem;
}

.contact-wrapper {
	margin: 8.75rem auto 0 auto;
}

.contact-wrapper::after {
	height: 18.75rem;
	max-width: 18.75rem;
	right: calc(50% - min(46.4vw, 42rem));
	top: -6rem;
}

.footer-wrapper {
	padding: 0 0 5rem 0;
}

.gallery-wrapper {
	margin-top: 10.625rem;
	position: relative;
}

.gallery-wrapper::before {
	background-image: url(../images/common/piano-top-deco2.png);
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
	display: block;
	height: 8.9375rem;
	max-width: 18.875rem;
	position: absolute;
	right: calc(50% - min(44.6vw, 40.1rem));
	top: -4.9375rem;
	width: 100%;
	z-index: -1;
}

.sidebar-layout {
	margin-top: 0;
	max-width: none;
	width: 27.2%;
}

.sidebar-layout__inner {
	padding: 0 0 0 0.875rem;
}

.top-biography-wrapper {
	margin-top: 8.75rem;
}

.top-blog-wrapper {
	background-attachment: fixed;
	background-image: url(../images/common/piano-contact.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 5rem;
	padding-top: 6.25rem;
	width: 100%;
}

.top-performance-wrapper {
	margin-top: 6.25rem;
	padding: 6.25rem 0 4.8125rem;
}

.top-voice-wrapper {
	margin-top: 8.75rem;
	position: relative;
}

.top-voice-wrapper::before {
	background-image: url(../images/common/piano-top-deco2.png);
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
	display: block;
	height: 10rem;
	left: calc(50% - min(48.4vw, 38.75rem));
	position: absolute;
	top: -2.5rem;
	width: 25rem;
}

.biography__inner.inner {
	max-width: 75rem;
	width: 100%;
}

.biography__img-wrapper {
	margin-top: 2.5rem;
	position: relative;
}

.biography__img-wrapper::after {
	background-image: url("../images/common/piano-deco.png");
	background-repeat: no-repeat;
	background-size: contain;
	bottom: -25%;
	content: "";
	display: block;
	height: 18.75rem;
	position: absolute;
	right: calc(50% - min(44.4vw, 39.8rem));
	width: 18.75rem;
}

.biography__btn-wrapper {
	margin-top: 2.5rem;
}

.biography__content {
	background-color: rgba(30, 34, 50, 0.8);
	color: #F7F7F7;
	grid-template-columns: 21.25rem 1fr;
	position: absolute;
	right: calc(50% - min(48.4vw, 31rem));
	top: 32%;
	width: min(52.5rem, 80%);
}

.biography__main-text {
	color: #F7F7F7;
	font-size: 5rem;
}

.biography__texts {
	margin-top: 0rem;
}

.biography__img {
	aspect-ratio: 400/606;
	margin-bottom: 3.4375rem;
	width: 37.03%;
}

.blog-article {
	max-width: none;
	width: 65%;
}

.blog-article__content {
	margin-top: 2.5rem;
}

.blog-article__time {
	margin-top: 0rem;
}

.blog-article__thumbnail,
.blog-article__content figure {
	margin-top: 2.5rem;
}

.blog-article__content p {
	margin-top: 2.5rem;
}

.blog-article__content ul {
	margin-top: 2.5rem;
}

.blog-article__pager-wrapper {
	margin-top: 4.8125rem;
}

.blog-card__no-message {
	margin-top: 6.25rem;
}

.blog-cards {
	-moz-column-gap: 2.5rem;
	column-gap: 2.5rem;
	grid-template-columns: repeat(3, 1fr);
	margin-top: 5rem;
	row-gap: 5rem;
}

.blog-cards--blog-page {
	grid-template-columns: repeat(2, 1fr);
	margin-top: 0;
}

.blog {
	max-width: none;
	width: 65%;
}

.blog__pager-wrapper {
	margin-top: 5rem;
}

.bread__inner.inner {
	max-width: 75rem;
	width: 100%;
}

.contact-form__inner.inner {
	max-width: 56.25rem;
	width: 100%;
}

.contact-form__item {
	border-bottom: solid 1px #ECBF09;
	flex-direction: row;
	gap: 1%;
	max-width: 60.9375rem;
	padding: 2.4375rem 0;
}

.contact-form__label {
	display: flex;
	justify-content: space-between;
	width: 32%;
}

.contact-form__text {
	margin-top: 0;
	max-width: 30rem;
	width: 108.5%;
}

.contact-form__textarea {
	margin-top: 0;
	width: 115.5%;
}

.contact-form__checks {
	margin-top: 0;
}

.contact-form__agreement {
	gap: 0.9375rem;
	margin-top: 5rem;
}

.contact-form__agreement label {
	align-items: center;
	display: flex;
}

.contact-form__check input[type=checkbox],
input[type=checkbox] {
	margin-left: -0.125rem;
}

.contact-form__agreement input[type=checkbox] {
	margin-left: -0.125rem;
}

.contact-form__btn-wrapper {
	margin-top: 2.5rem;
}

.contact-form__error-text:nth-child(2) {
	margin-left: 0;
	text-indent: 0rem;
}

.contact-form__text {
	margin-top: 0;
	max-width: 30rem;
	width: 120%;
}

.contact-form__success {
	align-items: center;
	flex-direction: row;
}

.contact-form__success-text {
	text-align: left;
}

.contact__inner.inner {
	max-width: 75rem;
}

.contact__content-inner {
	box-shadow: 0.125rem 0.125rem 0.625rem rgba(0, 0, 0, 0.25);
	flex-direction: row;
	gap: 1.5rem;
	max-width: 67.5rem;
	padding: 3.75rem 3.125rem;
	width: 100%;
}

.contact__info {
	width: 50%;
}

.contact__img {
	aspect-ratio: 3/2;
	margin-top: 0;
	width: 100%;
}

.contact__texts {
	width: 50%;
}

.contact__title {
	font-size: 5rem;
}

.footer__inner {
	max-width: none;
	max-width: initial;
}

.footer__logo {
	width: 12.5rem;
}

.footer__icons {
	align-items: flex-end;
	flex-direction: row;
	justify-content: center;
	margin: 0 auto;
	max-width: 67.5rem;
	width: 100%;
}

.footer__sns-logos {
	-moz-column-gap: 1.5625rem;
	column-gap: 1.5625rem;
	margin-left: 2.6875rem;
	margin-top: 0rem;
	padding-bottom: 0.625rem;
}

.footer__sns-logo {
	width: 1.5rem;
}

.footer__copy {
	font-size: 0.875rem;
	margin-top: 5rem;
}

.footer__site-map-wrapper {
	margin-top: 1.5rem;
}

.gallery__photos-wrapper {
	margin-top: 5rem;
}

.header {
	height: 100%;
	left: 0;
	transition: left 0.5s ease;
	width: -moz-fit-content;
	width: fit-content;
}

.header__inner {
	flex-direction: column;
	height: inherit;
	margin: 0 auto;
	padding: 0 1.25rem;
	width: 100%;
}

.header__logo {
	height: auto;
	margin-top: 3.75rem;
	width: 8.3125rem;
}

.header__titles-japanese {
	color: #F7F7F7;
	font-size: 0.625rem;
	line-height: 1.5;
	margin-top: 0.25rem;
	text-align: left;
}

.header__titles-english {
	color: #F7F7F7;
	font-family: "Source Serif 4", system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
	font-size: 1.125rem;
	line-height: 1;
	text-align: center;
}

.header__content {
	height: inherit;
}

.header__pc-nav {
	display: block;
	height: inherit;
}

.header__pc-nav ul {
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
	height: inherit;
}

.header__pc-nav li {
	display: inline-block;
	height: 3.125rem;
}

.header__pc-nav li a {
	align-content: center;
	display: inline-block;
	height: inherit;
}

.header__items {
	margin-top: 3.75rem;
}

.header__pc-nav li:hover {
	background-color: rgba(247, 247, 247, 0.25);
	border-radius: 50%;
	box-shadow: 0 0 0.625rem 0.625rem rgba(247, 247, 247, 0.25);
	transition: ease 0.5s;
	width: -moz-fit-content;
	width: fit-content;
}

.header__site-map-wrapper {
	display: none;
}

.header__sp-nav {
	display: none;
}

.header__hamburger {
	display: none;
}

.inner {
	max-width: 1130px;
	padding-left: 12.5rem;
	padding-right: 25px;
}

#js-scroll-top {
	right: 2.5rem;
}

#js-scroll-top a {
	height: 9.375rem;
	width: 5rem;
}

.lower-FV__img h1 {
	color: #F7F7F7;
	font-size: 5rem;
	line-height: 1.25;
	top: 16.875rem;
}

.modal__content {
	max-width: 43.75rem;
}

.no-page__inner.inner {
	max-width: 75rem;
}

.no-page::after {
	height: 43.625rem;
	left: calc(50% - min(37.6vw, 33.7rem));
	max-width: 43.625rem;
}

.no-page__title-wrapper {
	margin-top: 8.375rem;
}

.no-page__title {
	font-size: 6.25rem;
}

.no-page__texts {
	flex-direction: row;
}

.pager__number-wrapper,
.wp-pagenavi {
	gap: 0.75rem;
}

.pager__number:nth-child(5),
.pager__number:nth-child(6) {
	display: block;
}

.performance {
	margin-top: 9.375rem;
}

.performance::after {
	height: 12.5rem;
	left: calc(50% - min(43vw, 38.7rem));
	max-width: 12.5rem;
	top: -5.625rem;
}

.performance__inner.inner {
	max-width: 75rem;
	width: 100%;
}

.photo:nth-child(6n),
.photo:nth-child(6n+1) {
	aspect-ratio: 492/746;
	grid-column: span 4;
	grid-row: span 4;
}

.photo:nth-child(6n+2),
.photo:nth-child(6n+3),
.photo:nth-child(6n+4),
.photo:nth-child(6n+5) {
	aspect-ratio: 580/347;
	grid-column: span 5;
	grid-row: span 2;
}

.photos {
	grid-auto-flow: dense;
	grid-template-columns: repeat(9, 1fr);
}

.popular-card__no-message {
	margin-top: 3rem;
}

.privacy {
	margin-top: 9.375rem;
}

.privacy__inner.inner {
	max-width: 75rem;
}

.privacy__title::before {
	height: 8.625rem;
	left: calc(50% - min(21vw, 17.5rem));
	max-width: 18.8125rem;
	top: -4.3125rem;
}

.privacy__title h2 {
	font-size: 2rem;
}

.privacy__text {
	margin-top: 2.5625rem;
}

.repertory__list {
	padding: 1.625rem 5rem 1.625rem 2.5rem;
}

.repertory__list h2 {
	font-size: 1.25rem;
}

.repertory__list::before {
	right: 2.5rem;
	width: 2rem;
}

.repertory__list::after {
	right: 2.5rem;
	width: 2rem;
}

.repertory__note {
	margin-top: 0.875rem;
	padding: 2.4375rem 0;
}

.repertory__note p {
	margin: 0 2.5rem;
}

.repertory__no-content {
	margin-top: 0;
}

select {
	height: 1.875rem;
	margin-top: 0;
	max-width: 30rem;
	padding: 0.3125rem 2rem 0.3125rem 1rem;
}

.sidebar__btn-wrapper {
	margin-top: 2.5625rem;
}

.site-map {
	-moz-column-gap: 7.5rem;
	column-gap: 7.5rem;
	cursor: pointer;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}

.site-map__contents--footer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 2.25rem;
	text-align: center;
}

.title {
	font-size: 2rem;
}

.top-biography__inner.inner {
	max-width: 75rem;
	width: 100%;
}

.top-biography__img-wrapper {
	margin-top: 2.5rem;
	position: relative;
}

.top-biography__btn-wrapper {
	margin-top: 2.5rem;
}

.top-biography__content {
	background-color: rgba(30, 34, 50, 0.8);
	border: solid 0.0625rem #F7F7F7;
	color: #F7F7F7;
	grid-template-columns: 1fr 1fr;
	margin-top: 2.5625rem;
	padding: 1rem;
	position: absolute;
	right: calc(50% - min(48.4vw, 31rem));
	top: 45%;
	width: min(52.5rem, 80%);
}

.top-biography__main-text {
	color: #F7F7F7;
	font-size: 5rem;
}

.top-biography__texts {
	margin-top: 0rem;
}

.top-biography__texts::after {
	background-image: url("../images/common/piano-top-deco.png");
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
	display: block;
	height: 18.75rem;
	position: absolute;
	right: calc(50% - min(35vw, 23.3rem));
	top: -40%;
	width: 18.75rem;
}

.top-biography__img {
	aspect-ratio: 400/606;
	margin-bottom: 3.4375rem;
	width: 37.03%;
}

.top-blog__inner {
	max-width: 75rem;
}

.top-blog__btn-wrapper {
	margin-top: 5rem;
	padding-bottom: 5rem;
}

.top-performance__inner.inner {
	max-width: 75rem;
}

.top-performance__content {
	flex-direction: row;
	gap: 3rem;
	margin: 2.5rem auto 0;
}

.top-performance__texts {
	align-content: center;
}

.top-performance__img {
	aspect-ratio: 540/356;
	max-width: 33.5625rem;
}

.topFVswiper__texts {
	left: calc(50% - min(32.7vw, 27.8rem));
	margin-left: 0;
}

.topFVswiper__main-text {
	line-height: 1.125;
}

input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required {
	margin-top: 0;
	max-width: 30rem;
	width: 107.5%;
}

textarea.wpcf7-form-control.wpcf7-textarea.wpcf7-validates-as-required {
	margin-top: 0;
	max-width: 30rem;
	width: 115.5%;
}

span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required {
	margin-top: 0;
}

span.wpcf7-list-item-label {
	max-width: none;
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.payment-required .wpcf7-response-output {
	flex-direction: row;
	justify-content: center;
}

.wpcf7 form.invalid input[type=text],
.wpcf7 form.invalid input[type=email],
.wpcf7 form.invalid input[type=tel],
.wpcf7 form.invalid textarea {
	margin-top: 0;
	max-width: 30rem;
	width: 100%;
}

.youtube {
	grid-template-columns: 1fr 1fr;
}

h2.youtube__title.title.title--youtube {
	font-size: 1.5rem;
}

}

@media (min-width: 1080px) {

html {
	font-size: 16px;
}

}

@media (max-width: 375px) {

html {
	font-size: 4.2666666667vw;
}

}

@keyframes UpAnime {

from {
	opacity: 0;
	transform: translateY(trm(100));
}

to {
	opacity: 1;
	transform: translateY(0);
}

}

@keyframes DownAnime {

from {
	opacity: 1;
	transform: translateY(0);
}

to {
	opacity: 1;
	transform: translateY(6.25rem);
}

}


/*# sourceMappingURL=style.css.map */
