ul.custom_widget a {
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 10px 0;
}

.wp-die-message p {
  color: #1e2232;
}
ul.custom_widget li :hover {
  background-color: #ffe573;
}

ul.custom_widget {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.dashicons {
  color: #1e2232;
  font-size: 24px;
}

p#block-1c3e6409-d29e-4efc-bbe8-f43b450af9f5,
p.block-editor-default-block-appender__content {
  background-color: #fff;
  color: #444;
}

textarea#acf-field_669713a287c24,
textarea#acf-field_669718180f1f4 {
  border: solid 1px #2c3338;
  width: 100%;
  padding: 8px;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.4;
  border-radius: 4px;
}

ul.acf-radio-list li label,
ul.acf-checkbox-list li label {
  display: flex;
  align-items: center;
}

ul.acf-radio-list li input[type="radio"] {
  border: solid 1px #8c8f94;
  display: block;
}

ul.custom_widget a {
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 10px 0;
}

ul.custom_widget li :hover {
  background-color: #ffe573;
}

ul.custom_widget {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.dashicons {
  color: #1e2232;
  font-size: 24px;
}

p#block-1c3e6409-d29e-4efc-bbe8-f43b450af9f5,
p.block-editor-default-block-appender__content {
  background-color: #fff;
  color: #444;
}

textarea#acf-field_669713a287c24,
textarea#acf-field_669718180f1f4 {
  border: solid 1px #2c3338;
  width: 100%;
  padding: 8px;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.4;
  border-radius: 4px;
}

ul.acf-radio-list li label,
ul.acf-checkbox-list li label {
  display: flex;
  align-items: center;
}

ul.acf-radio-list li input[type="radio"] {
  border: solid 1px #8c8f94;
  display: block;
}

ul.acf-radio-list li input[type="radio"]::before {
  border: solid 1px #8c8f94;
}

.smart-cf-group .smart-cf-group-repeat label .ios-ui-select,
#smart-cf-meta-box-condition-post .ios-ui-select,
#smart-cf-meta-box-condition-profile .ios-ui-select,
#smart-cf-meta-box-condition-taxonomy .ios-ui-select,
#smart-cf-meta-box-condition-options-page .ios-ui-select {
  height: 18px;
  width: 32px;
  margin-bottom: -5px;
  position: relative;
  background: #ddd;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
}

.smart-cf-group .smart-cf-group-repeat label .ios-ui-select.checked .inner,
#smart-cf-meta-box-condition-post .ios-ui-select.checked .inner,
#smart-cf-meta-box-condition-profile .ios-ui-select.checked .inner,
#smart-cf-meta-box-condition-taxonomy .ios-ui-select.checked .inner,
#smart-cf-meta-box-condition-options-page .ios-ui-select.checked .inner {
  left: 17px;
}

.smart-cf-group .smart-cf-group-repeat label .ios-ui-select.inner,
#smart-cf-meta-box-condition-post .ios-ui-select .inner,
#smart-cf-meta-box-condition-profile .ios-ui-select .inner,
#smart-cf-meta-box-condition-taxonomy .ios-ui-select .inner,
#smart-cf-meta-box-condition-options-page .ios-ui-select .inner {
  width: 12px;
  height: 12px;
}

.ios-ui-select .inner {
  position: absolute;
  top: 3px;
  border-radius: 100%;
  background: #fff;
  -moz-transition: all 350ms cubic-bezier(0, 0.89, 0.44, 1);
  -o-transition: all 350ms cubic-bezier(0, 0.89, 0.44, 1);
  transition: all 350ms cubic-bezier(0, 0.89, 0.44, 1);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.1);
}

a,
div {
  outline: 0;
}

.ios-ui-select {
  border: none;
  height: 36px;
  background: #ddd;
  border-radius: 18px;
  width: 60px;
  transition: all 0.3s ease-in-out;
  box-shadow: none;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

ul.acf-radio-list li label,
ul.acf-checkbox-list li label {
  display: flex !important;
}

ul.acf-radio-list li input[type="radio"]::before {
  border: solid 1px #8c8f94;
}

.smart-cf-group .smart-cf-group-repeat label .ios-ui-select,
#smart-cf-meta-box-condition-post .ios-ui-select,
#smart-cf-meta-box-condition-profile .ios-ui-select,
#smart-cf-meta-box-condition-taxonomy .ios-ui-select,
#smart-cf-meta-box-condition-options-page .ios-ui-select {
  height: 18px;
  width: 32px;
  margin-bottom: -5px;
  position: relative;
  background: #ddd;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
}

.smart-cf-group .smart-cf-group-repeat label .ios-ui-select.checked .inner,
#smart-cf-meta-box-condition-post .ios-ui-select.checked .inner,
#smart-cf-meta-box-condition-profile .ios-ui-select.checked .inner,
#smart-cf-meta-box-condition-taxonomy .ios-ui-select.checked .inner,
#smart-cf-meta-box-condition-options-page .ios-ui-select.checked .inner {
  left: 17px;
}

.smart-cf-group .smart-cf-group-repeat label .ios-ui-select.inner,
#smart-cf-meta-box-condition-post .ios-ui-select .inner,
#smart-cf-meta-box-condition-profile .ios-ui-select .inner,
#smart-cf-meta-box-condition-taxonomy .ios-ui-select .inner,
#smart-cf-meta-box-condition-options-page .ios-ui-select .inner {
  width: 12px;
  height: 12px;
}

.ios-ui-select .inner {
  position: absolute;
  top: 3px;
  border-radius: 100%;
  background: #fff;
  -moz-transition: all 350ms cubic-bezier(0, 0.89, 0.44, 1);
  -o-transition: all 350ms cubic-bezier(0, 0.89, 0.44, 1);
  transition: all 350ms cubic-bezier(0, 0.89, 0.44, 1);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.1);
}

a,
div {
  outline: 0;
}

.ios-ui-select {
  border: none;
  height: 36px;
  background: #ddd;
  border-radius: 18px;
  width: 60px;
  transition: all 0.3s ease-in-out;
  box-shadow: none;
  cursor: pointer;
  position: relative;
  display: inline-block;
}
