@use "global" as *;

.sidebar-layout {
    margin-top: rem(80);
    width: 100%;
    max-width: rem(400);
    margin: 0 auto;

    @include mq("md") {
        max-width: none;
        margin-top: 0;
        width: 27.2%;
    }
}

.sidebar-layout__inner {
    padding: 0 rem(24);

    @include mq("md") {
        padding: 0 0 0 rem(14);
    }
}