@use "global" as *;

.blog-layout {
    position: relative;
    margin-top: rem(52);

    @include mq("md") {
        margin-top: rem(100);
    }
}

.blog-layout::after {
    position: absolute;
    content: "";
    display: block;
    background-image: url(../images/common/score-deco.png);
    top: rem(-40);
    left: calc(50% - min(45.7vw, 10.8rem));
    max-width: rem(100);
    width: 100%;
    height: rem(100);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;

    @include mq("md") {
        left: calc(50% - min(43vw, 38.7rem));
        max-width: rem(200);
        height: rem(200);
    }
}

.blog-layout__2column {
    position: relative;
    display: flex;
    flex-direction: column;

    @include mq("md") {
        flex-direction: row;
        gap: calc(100% - (65% + 27%));
    }
}

.blog-layout__inner.inner {
    max-width: rem(540);

    @include mq("md") {
        max-width: rem(1200);
    }
}