@use "global" as *;

.contact-form-wrapper {
    margin-top: rem(50);

    @include mq("md") {
        margin-top: rem(100);
    }
}

.contact-form-wrapper--success {
    text-align: center;
    margin-top: rem(52);

    @include mq("md") {
        margin-top: rem(150);
    }
}

.contact-form-wrapper--success::before {
    top: rem(-20);

    @include mq("md") {
        top: rem(-70);
    }
}