@use "global" as *;

.contact-form-wrapper {
    margin-top: rem(52);
    position: relative;

    @include mq("md") {
        margin-top: rem(96);
    }
}

.contact-form-wrapper::before {
    position: absolute;
    content: "";
    display: block;
    background-image: url(../images/common/decoration-fish-right.svg);
    top: rem(0);
    left: calc(50% - min(45.7vw, 10.8rem));
    max-width: rem(118);
    width: 100%;
    height: rem(55);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;

    @include mq("md") {
        top: rem(-18);
        left: calc(50% - min(43vw, 38.7rem));
        max-width: rem(301);
        height: rem(138);
    }
}

.contact-form-wrapper--success {
    text-align: center;
    margin-top: rem(52);

    @include mq("md") {
        margin-top: rem(150);
    }
}

.contact-form-wrapper--success::before {
    top: rem(-20);

    @include mq("md") {
        top: rem(-70);
    }
}