@use "global" as *;

//トップお客様の声 余白
.top-voice-wrapper {
  margin-top: rem(76);

  @include mq("md") {
    position: relative;
    margin-top: rem(140);
  }
}

//トップお客様の声、装飾上
.top-voice-wrapper::before {
  display: none;

  @include mq("md") {
    position: absolute;
    content: "";
    background-image: url(../images/common/piano-top-deco2.png);
    display: block;
    top: rem(-40);
    left: calc(50% - min(48.4vw, 38.75rem));
    width: rem(400);
    height: rem(160);
    background-repeat: no-repeat;
    background-size: contain;
  }
}