@use "sass:math";

// インナー幅設定
// コンテンツのインナー幅（最も共通の幅が多い部分）
$inner: 1080px;
// ※キュンパス幅ではなくインナーの幅を指す

// 余白
$padding-pc: 25px;
$padding-sp: 15px;

////////////////////
// フォント設定
////////////////////

$base-font-family: "Noto Sans JP", sans-serif;
$second-font-family: "Source Serif 4", system-ui;
$title-font-family: "Source Serif 4", system-ui;
// ※検証ツールでしっかり反映されているか確認する

body {
  font-family: $base-font-family;
  color: #F7F7F7;
  background-color: #1E2232;
}

// フォントウェイト
$regular: 300;
$normal: 400;
$bold: 700;

////////////////////
// 色の指定
////////////////////

//色指定（共通性のあるものは出来る限り指定すると良い）
$black: #1E2232;
$white: #F7F7F7;
$yellow: #FFE573;
$red: #c94800;
$light-yellow: #9EAD52;