@use "global" as *;

.blog-article {
    width: 100%;
    max-width: rem(540);
    margin: 0 auto;

    @include mq("md") {
        width: 65%;
        max-width: none;
    }

}

.blog-article__content {
    margin-top: rem(24);

    @include mq("md") {
        margin-top: rem(40);
    }
}

.blog-article__time {
    margin-top: rem(5);
    font-size: rem(14);
    font-family: $title-font-family;
    display: block;

    @include mq("md") {
        margin-top: rem(0);
    }
}

.blog-article__title {
    font-size: rem(24);
    border-bottom: solid rem(1) $green;
    margin-top: rem(8);
    padding-bottom: rem(3);

    @include mq("md") {
        font-size: rem(32);
        margin-top: rem(5);
        padding-bottom: 0;
    }
}

.blog-article__thumbnail,
.blog-article__content figure {
    margin-top: rem(24);

    @include mq("md") {
        margin-top: rem(40);
    }
}

.blog-article__content p {
    margin-top: rem(24);

    @include mq("md") {
        margin-top: rem(40);
    }
}

.blog-article__content ul {
    margin-top: rem(24);

    @include mq("md") {
        margin-top: rem(40);
    }
}

.blog-article__content li {
    position: relative;
    padding-left: rem(28);
    margin-top: rem(5);
}

.blog-article__content li::before {
    position: absolute;
    content: "";
    display: block;
    background-image: url(../images/common/blog-article-icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: rem(18);
    height: rem(18);
    top: rem(3);
    left: rem(0);
}

.blog-article__pager-wrapper {
    margin-top: rem(40);

    @include mq("md") {
        margin-top: rem(77);
    }
}