@use "global" as *;

//ヘッダー全体
.header {
  position: fixed;
  width: 100%;
  height: rem(80);
  background-color: rgba($color: $black, $alpha: 0.68);
  z-index: 500;
  overscroll-behavior-y: contain;
  top: 0;
  left: 0;

  @include mq("md") {
    height: rem(90);
  }
}

//ヘッダーインナー
.header__inner {
  height: inherit;
  padding: 0 rem(15);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @include mq("md") {
    width: 100%;
    margin: 0 auto;
    padding: 0 rem(40);
    height: inherit;
  }
}

//ヘッダーロゴ
.header__logo {
  width: rem(102);
  height: auto;

  @include mq("md") {
    width: rem(133);
    height: auto;
  }
}

//ヘッダー日本語タイトル
@include mq("md") {
  .header__titles-japanese {
    font-size: rem(10);
    line-height: 1.5;
    color: $white;
    margin-top: rem(4);
    text-align: center;
  }
}

//ヘッダー英語タイトル
@include mq("md") {
  .header__titles-english {
    font-size: rem(18);
    line-height: 1;
    color: $white;
    font-family: $title-font-family;
    text-align: center;
  }
}

//ヘッダー中身、クリック領域広げる
@include mq("md") {
  .header__content {
    height: inherit;
  }
}

//ヘッダーpc-nav
.header__pc-nav {
  display: none;
}

@include mq("md") {
  .header__pc-nav {
    display: block;
    height: inherit;
  }

  .header__pc-nav ul {
    display: flex;
    flex-direction: row;
    gap: rem(40);
    height: inherit;
  }

  .header__pc-nav li {
    display: inline-block;
    height: inherit;
  }

  .header__pc-nav li a {
    /*線の基点とするためrelativeを指定*/
    position: relative;
    height: inherit;
    display: inline-block;
    align-content: center;
  }

  .header__pc-nav li.current a,
  .header__pc-nav li a:hover {
    color: $white;
  }

  .header__pc-nav li a::after {
    content: "";
    position: absolute;
    bottom: rem(27);
    left: 0;
    width: 100%;
    height: rem(1);
    background: $white;
    transition: all 0.3s;
    transform: scale(0, 1);
    transform-origin: center top;
    /*上部中央基点*/
  }

  /*現在地とhoverの設定*/
  .header__pc-nav li.current a::after,
  .header__pc-nav li a:hover::after {
    transform: scale(1, 1);
  }
}

.header__site-map-wrapper {
  width: 100%;
  height: -webkit-fill-available;
  overflow-y: scroll;
  overscroll-behavior: contain;

  @include mq("md") {
    display: none;
  }
}

//スクロールバーを出すところと分けたかったため、innerとwrapperを分けた
.header__site-map-inner {
  max-width: rem(540);
  width: 100%;
  margin: 0 auto;
  padding: 0 rem(15);
}

//ヘッダーSP-nav
.header__sp-nav {
  display: none;
  background-color: $green;
  color: $white;
  margin-top: rem(-80);
  padding-top: rem(104);
  width: 100%;
  height: 100vh;

  @include mq("md") {
    display: none;
  }
}

//sp-navの中身
.header__site-map {
  height: calc(100vh - rem(80));
  margin: rem(-17) auto 0 auto;
  max-width: rem(500);
  column-gap: rem(8);
}

//ハンバーガーメニュー
.header__hamburger {
  position: relative;
  width: rem(32);
  height: rem(24);
  cursor: pointer;
}

.header__hamburger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: rem(1);
  background-color: $white;
}

.header__hamburger,
.header__hamburger span {
  display: inline-block;
  transition: all 0.5s;
  box-sizing: border-box;
}

.header__hamburger span:nth-of-type(1) {
  top: rem(1);
}

.header__hamburger span:nth-of-type(2) {
  top: rem(14);
}

.header__hamburger span:nth-of-type(3) {
  bottom: rem(-2);
}

#js-hamburger.active span:nth-of-type(1) {
  -webkit-transform: translateY(rem(11)) rotate(37deg);
  transform: translateY(rem(11)) rotate(37deg);
  top: rem(2);
  width: rem(41);
  left: rem(-5);
}

#js-hamburger.active span:nth-of-type(2) {
  opacity: 0;
}

#js-hamburger.active span:nth-of-type(3) {
  -webkit-transform: translateY(rem(-11)) rotate(-37deg);
  transform: translateY(rem(-11)) rotate(-37deg);
  bottom: rem(-1);
  width: rem(41);
  left: rem(-5);
}

@include mq("md") {
  .header__hamburger {
    display: none;
  }
}