@use "global" as *;
//カード画像のアニメーション
.js-color-box {
  position: relative;
}
.js-color-box div.color {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: $green;
}
.js-color-box img {
  display: block;
  width: 100%;
}
