@use "global" as *;

.no-page {
  background-color: $green;
  color: $white;
  position: relative;
}

.no-page::after {
  position: absolute;
  content: "";
  background-image: url(../images/common/404img.png);
  top: rem(-9);
  left: calc(50% - min(46vw, 11rem));
  max-width: rem(345);
  width: 100%;
  height: rem(345);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;

  @include mq("md") {
    max-width: rem(698);
    height: rem(698);
    left: calc(50% - min(37.6vw, 33.7rem));
  }
}

.no-page__title-wrapper {
  margin-top: rem(60);

  @include mq("md") {
    margin-top: rem(134);
  }

}

.no-page__title {
  font-family: $second-font-family;
  text-align: center;
  font-size: rem(80);
  letter-spacing: 0.5em;
  font-weight: $normal;
  line-height: 1;
  margin-left: rem(37);

  @include mq("md") {
    font-size: rem(160);
    margin-left: rem(78);
  }
}

#no-page__bread {
  margin-top: rem(88);
  display: flex;
  gap: rem(8);

}

.no-page__texts {
  margin-top: rem(3);
  text-align: center;

  @include mq("md") {
    margin-top: rem(39);
  }
}

.no-page__btn-wrapper {
  margin-top: rem(42);
  text-align: center;

  @include mq("md") {
    margin-top: rem(81);
  }
}