@use "global" as *;

.photo:nth-child(6n),
.photo:nth-child(6n + 1) {
    grid-row: span 2;
    position: relative;
    aspect-ratio: 345/446;
    cursor: pointer;

    @include mq(md) {
        grid-row: span 4;
        grid-column: span 4;
        aspect-ratio: 492/746;
    }
}


.photo:nth-child(6n + 2),
.photo:nth-child(6n + 3),
.photo:nth-child(6n + 4),
.photo:nth-child(6n + 5) {
    position: relative;
    grid-row: span 1;
    aspect-ratio: 345/219;
    cursor: pointer;

    @include mq(md) {
        aspect-ratio: 580/347;
        grid-row: span 2;
        grid-column: span 5;
    }
}

.photo>img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}