@use "global" as *;

.photos {
    display: grid;
    grid-auto-rows: 1fr;
    gap: rem(8);

    @include mq("md") {
        grid-template-columns: repeat(9, 1fr);
        grid-auto-flow: dense;
    }
}