@use "global" as *;

.popular-card {
    display: flex;
    gap: rem(16);
    box-shadow: rem(2) rem(2) rem(10) rgba($color: #000000, $alpha: 0.25);
    background-color: $white;
    opacity: 1;
    padding: rem(16);
    cursor: pointer;
}

.popular-card__img {
    width: 49%;
    aspect-ratio: 121/90;
    position: relative;
}

.popular-card__img>img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.popular-card__text {
    width: 51%;
}

.popular-card__time {
    display: block;
    font-size: rem(12);
    font-family: $title-font-family;
}

.popular-card__title {
    margin-top: rem(4);
    font-size: rem(16);
}

.popular-card__no-message {
    margin-top: rem(24);

    @include mq("md") {
        margin-top: rem(48);
    }
}