@use "global" as *;

.privacy {
  margin-top: rem(50);

  @include mq("md") {
    margin-top: rem(150);
  }

}

.privacy__inner.inner {
  width: 100%;
  max-width: rem(540);

  @include mq("md") {
    max-width: rem(850);
  }
}

.privacy__title {
  position: relative;

}

.privacy__title::before {
  position: absolute;
  content: "";
  display: block;
  background-image: url(../images/common/decoration-fish-right.svg);
  top: rem(-23);
  left: calc(50% - min(45.5vw, 10.7rem));
  max-width: rem(117);
  width: 100%;
  height: rem(55);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;

  @include mq("md") {
    top: rem(-69);
    left: calc(50% - min(43.1vw, 38.8rem));
    max-width: rem(301);
    height: rem(138);
  }
}

.privacy__title h2 {
  font-size: rem(24);

  @include mq("md") {
    font-size: rem(32);
  }

}

.privacy__text ol {
  list-style: decimal;
  margin-top: rem(0);
}

.privacy__text ol:first-child {
  list-style: decimal;
  margin-top: rem(31);
}

.privacy__text li {
  margin-left: rem(24);
}

.privacy__text {
  margin-top: rem(37);
  line-height: 2;

  @include mq("md") {
    margin-top: rem(41);
  }
}

.privacy__text p {
  margin-top: rem(32);
}

.privacy__text p:first-child {
  margin-top: 0;
}