@use "global" as *;

//アーカイブ三角
.archive-year {
    position: relative;
    margin-top: rem(3);
    cursor: pointer;
}

.archive-year::after {
    position: absolute;
    content: "";
    display: block;
    background-image: url(../images/common/16beat-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: transform .3s ease-in-out, top .3s ease-in-out;
    width: rem(20);
    height: rem(20);
    top: rem(7);
    left: rem(-30);
}

.archive-year.open::after {
    transform: rotate(45deg);
}