@use "global" as *;

//インナー
.biography__inner.inner {
  max-width: rem(500);
  width: 100%;

  @include mq("md") {
    max-width: rem(1200);
    width: 100%;
  }
}

//Biography画像全体
.biography__img-wrapper {
  margin-top: rem(28);
  display: flex;
  flex-direction: row;

  @include mq("md") {
    margin-top: rem(40);
    position: relative;
  }
}

//トップBiography装飾
.biography__img-wrapper::after {
  display: none;

  @include mq("md") {
    position: absolute;
    content: "";
    background-image: url("../images/common/piano-deco.png");
    display: block;
    bottom: -25%;
    right: calc(50% - min(44.4vw, 39.8rem));
    width: rem(300);
    height: rem(300);
    background-size: contain;
    background-repeat: no-repeat;
  }
}

//ボタン周り
.biography__btn-wrapper {
  margin-top: rem(25);
  text-align: center;
  padding-bottom: rem(5);

  @include mq("md") {
    margin-top: rem(40);
  }
}

//Biography画像全体
.biography {
  display: flex;
  flex-direction: row;
}

//テキスト全体
.biography__content {
  margin-top: rem(39);
  display: grid;
  grid-template-columns: 1fr;
  row-gap: rem(0);
  border: solid rem(1) $white;

  @include mq("md") {
    margin-top: rem(41);
    width: min(rem(840), 80%);
    position: absolute;
    grid-template-columns: rem(340) 1fr;
    color: $white;
    top: 32%;
    right: calc(50% - min(48.4vw, 31rem));
    background-color: rgba($color: $black, $alpha: 0.8);
    padding: rem(16);
  }
}

.biography__main-text {
  font-size: rem(40);
  font-family: $main-font;
  color: $yellow;

  @include mq("md") {
    font-size: rem(80);
    color: $white;
  }
}

.biography__texts {
  margin-top: rem(16);
  font-weight: $regular;

  @include mq("md") {
    margin-top: rem(0);
  }
}

.biography__text {
  margin-top: rem(16);
  word-break: keep-all;
  overflow-wrap: break-word;
}

.biography__awards {
  margin-top: rem(16);
  word-break: keep-all;
  overflow-wrap: break-word;
}

.biography__name {
  font-size: rem(20);
  padding-bottom: rem(4);
  border-bottom: solid rem(1) $yellow;
}

//Biography背景画像左側
.biography__img {
  margin-bottom: rem(18);
  position: relative; //写真比率管理用
  aspect-ratio: 128 / 194;
  width: 100%;
  z-index: 0;

  @include mq("md") {
    margin-bottom: rem(55);
    aspect-ratio: 400 / 606;
    width: 37.03%;
  }
}

.biography__img>img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}