@use "global" as *;

.blog-cards {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: rem(28);
  gap: rem(40);

  @include mq("md") {
    grid-template-columns: repeat(3, 1fr);
    margin-top: rem(80);
    column-gap: rem(40);
    row-gap: rem(80);
  }
}

.blog-cards--blog-page {
  gap: rem(39);
  margin-top: 0;

  @include mq("md") {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 0;
  }
}