@use "global" as *;

//ボタン本体
.btn {
  font-family: $main-font;
  position: relative;
  display: inline-block;
  margin: rem(15);
  padding: rem(8) rem(27);
  text-align: center;
  font-size: rem(16);
  letter-spacing: rem(1);
  text-decoration: none;
  color: $white;
  background: $black;
  border: rem(1) solid $white;
  cursor: pointer;
  transition: ease-out 0.5s;
  -webkit-transition: ease-out 0.5s;
  -moz-transition: ease-out 0.5s;
}

.btn::after,
.btn::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  transition: .5s;
}

.btn::after {
  top: rem(-3);
  left: rem(-3);
  border-top: rem(3) solid transparent;
  border-left: rem(3) solid transparent;
}

.btn::before {
  bottom: rem(-3);
  right: rem(-3);
  border-bottom: rem(3) solid transparent;
  border-right: rem(3) solid transparent;
}

.btn:hover {
  color: $yellow;
}

.btn:hover::after,
.btn:hover::before {
  width: calc(65% + rem(3));
  height: calc(65% + rem(3));
  border-color: $yellow;
}