@use "global" as *;

//お問い合わせセクションインナー
.contact__inner.inner {
  max-width: rem(540);

  @include mq("md") {
    max-width: rem(1200);
  }
}

//お問い合わせ本体
.contact__content-inner {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: rem(40);
  background-color: rgba($color: $white, $alpha: 0.15);

  @include mq("md") {
    padding: rem(80) rem(112) rem(78) rem(50);
    max-width: rem(1080);
    width: 100%;
    flex-direction: row;
    box-shadow: rem(2) rem(2) rem(10) rgba($color: #000000, $alpha: 0.25);
  }
}

//お問い合わせ画像
.contact__img {
  position: relative;
  width: 100%;
  aspect-ratio: 295/160;
  background-color: #d9d9d9;
  margin: rem(16) auto 0 auto;
  text-shadow: 0 rem(4) rem(4) rgba($color: #000, $alpha: 0.25);

  @include mq("md") {
    aspect-ratio: 273/148;
    margin-top: 0;
    text-shadow: none;
    width: 164%;
  }
}

.contact__img>img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

//お問い合わせ右側
.contact__content {
  margin-top: rem(40);

  @include mq("md") {
    margin-top: rem(0);
    margin-left: rem(80);
  }
}

//お問い合わせ右側テキスト
.contact__text {
  color: $yellow;
  margin-top: rem(10);
  font-size: rem(14);
  text-shadow: 0 rem(4) rem(4) rgba($color: #000, $alpha: 0.25);

  @include mq("md") {
    text-shadow: none;
    margin-top: rem(8);
  }
}

//お問い合わせ
.contact__logo {
  max-width: rem(174);
  width: 100%;
  height: auto;
  margin: 0 auto;

  @include mq("md") {
    max-width: rem(210);
  }
}

.contact__btn-wrapper {
  margin-top: rem(40);
  text-align: center;
  padding-bottom: rem(5);
}

//お問い合わせ、セクションタイトル
.contact__titles {
  font-family: $main-font;
  font-size: rem(80);
  color: $white;
  text-shadow: 0 rem(4) rem(4) rgba($color: #f7f7f7, $alpha: 0.5);

  @include mq("md") {
    text-shadow: none;
  }
}

.contact__titles::first-letter {
  color: $yellow;
}