@use "global" as *;

//お問い合わせセクションインナー
.contact__inner.inner {
  max-width: rem(540);

  @include mq("md") {
    max-width: rem(1200);
  }
}

//お問い合わせ本体
.contact__content-inner {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: rem(24);
  background-color: rgba($color: $white, $alpha: 0.15);

  @include mq("md") {
    padding: rem(60) rem(50);
    max-width: rem(1080);
    width: 100%;
    flex-direction: row;
    gap: rem(24);
    box-shadow: rem(2) rem(2) rem(10) rgba($color: #000000, $alpha: 0.25);
  }
}

//お問い合わせ左側
.contact__info {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include mq("md") {
    width: 50%;
  }
}

.contact__sns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: rem(24);
}

.contact__twitter,
.contact__instagram {
  width: rem(32);
  height: rem(32);
}

//お問い合わせ画像
.contact__img {
  position: relative;
  width: 100%;
  aspect-ratio: 4/3;
  margin: rem(16) auto 0 auto;

  @include mq("md") {
    aspect-ratio: 3/2;
    margin-top: 0;
    width: 100%;
  }
}

.contact__img>img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

//お問い合わせ右側
.contact__texts {
  width: 100%;

  @include mq("md") {
    width: 50%;
  }
}

//お問い合わせ右側テキスト
.contact__text {
  color: $yellow;
  font-size: rem(14);
}

.contact__btn-wrapper {
  text-align: center;
  padding-bottom: rem(5);
}

//お問い合わせ、セクションタイトル
.contact__title {
  font-family: $main-font;
  font-size: rem(60);
  font-weight: $normal;
  color: $white;

  @include mq("md") {
    font-size: rem(80);
  }
}

.contact__titles::first-letter {
  color: $yellow;
}