@use "global" as *;

//フッター全体
.footer__inner {
  max-width: rem(540);
  width: 100%;
  margin: 0 auto;

  @include mq("md") {
    max-width: initial;
  }
}

//フッターロゴ
.footer__logo {
  font-size: rem(60);
}

//フッターロゴ・SNSロゴ周り
.footer__icons {
  display: flex;
  flex-direction: column;
  max-width: rem(500);
  width: 100%;

  @include mq("md") {
    max-width: rem(1080);
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

//フッターSNSロゴ周り
.footer__sns-logos {
  display: flex;
  flex-direction: row;
  margin-left: rem(24);
  column-gap: rem(24);
}

//各SNS
.footer__sns-logo {
  width: rem(20);
  height: auto;
  cursor: pointer;
  transition-duration: .5s;

  @include mq("md") {
    width: rem(24);
  }
}

.footer__sns-logo:hover {
  transform: scale(1.5);
}

//コピーライト
.footer__copy {
  margin-top: rem(40);
  font-size: rem(12);
  font-family: $main-font;
  text-align: center;
}

@include mq("md") {
  .footer__copy {
    margin-top: rem(80);
    font-size: rem(14);
  }
}

//サイトマップ上余白
.footer__site-map-wrapper {
  margin-top: rem(40);

  @include mq("md") {
    margin-top: rem(24);
  }
}

//スクロールトップ
.footer__js-scroll-top__img {
  max-width: 100%;
  width: 100%;
}

span.footer__js-scroll-top-text {
  text-align: center;
}