@use "global" as *;

.js-loading {
    position: fixed;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: #330000;
    z-index: 1000;
}

.js-loading.js-loading-left {
    left: 0;
}

.js-loading.js-loading-right {
    right: 0;
}