@use "global" as *;

.lower-FV__img {
  position: relative;
  width: 100%;
  height: rem(460);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/common/piano-contact.jpg);
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
}

.lower-FV__img::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.lower-FV__img h1 {
  position: absolute;
  text-wrap: nowrap;
  top: rem(229);
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  color: $white;
  font-weight: $normal;
  font-size: rem(40);
  font-family: $second-font-family;

  @include mq("md") {
    top: rem(325);
    color: $white;
    line-height: 1.25;
    font-size: rem(80);
  }
}

.lower-FV__img--performance {
  background-image: url(../images/common/piano-youtube.jpeg);
}

.lower-FV__img--biography {
  background-image: url(../images/common/piano-contact.jpg);
}

.lower-FV__img--blog {
  background-image: url(../images/common/piano-contact.jpg);
}


.lower-FV__img--contact {
  background-image: url(../images/common/piano-contact.jpg);
}