@use "global" as *;

.performance {
  margin-top: rem(51);
  position: relative;

  @include mq("md") {
    margin-top: rem(150);
  }
}

//装飾
.performance::after {
  position: absolute;
  content: "";
  display: block;
  background-image: url(../images/common/piano-top-deco.png);
  top: rem(-40);
  left: calc(50% - min(45.7vw, 10.8rem));
  max-width: rem(100);
  width: 100%;
  height: rem(100);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;

  @include mq("md") {
    top: rem(-90);
    left: calc(50% - min(43vw, 38.7rem));
    max-width: rem(200);
    height: rem(200);
  }
}

.performance__inner.inner {
  max-width: rem(540);
  width: 100%;

  @include mq("md") {
    max-width: rem(1000);
    width: 100%;
  }
}