@use "global" as *;

//セレクトボックス
select {
    margin-top: rem(16);
    border: solid rem(1) $green;
    font-size: rem(12);
    height: rem(40);
    width: 100%;
    font-size: rem(12);
    padding: rem(10) rem(32) rem(10) rem(16);

    @include mq("md") {
        margin-top: 0;
        max-width: rem(480);
        height: rem(30);
        padding: rem(5) rem(32) rem(5) rem(16);
    }
}