@use "global" as *;

.sidebar {
  display: flex;
  flex-direction: column;
  gap: rem(80);
}


.sidebar__title {
  position: relative;
  border-left: solid rem(8) $yellow;
  padding: rem(8) 0 rem(8) rem(13);
  font-size: rem(24);
  font-weight: normal;
}

.sidebar__btn-wrapper {
  margin-top: rem(43);
  text-align: center;

  @include mq("md") {
    margin-top: rem(41);
  }
}


.sidebar__category-items li a {
  font-size: rem(24);
}

.sidebar__category-items li {
  background: url(../images/common/16beat-icon.svg) no-repeat;
  background-size: auto rem(18);
  background-position: 0px;
  padding-left: rem(22);
  cursor: pointer;
  margin-top: rem(16);
}

.sidebar__archive-content {
  margin-top: rem(24);
  color: $yellow;
  font-size: rem(24);
  padding-left: rem(32);
  cursor: pointer;
}