@use "global" as *;

.sidebar {
  display: flex;
  flex-direction: column;
  gap: rem(80);
}


.sidebar__title {
  position: relative;
  border-left: solid rem(4) $yellow;
  padding: rem(4) 0 rem(4) rem(30);
  font-size: rem(24);
  font-weight: $bold;
}

.sidebar__btn-wrapper {
  margin-top: rem(40);
  text-align: center;
}

.sidebar__category-items li a {
  font-size: rem(16);
  position: relative;
}

.sidebar__category-items li {
  background: url(../images/common/16beat-icon.svg) no-repeat;
  background-size: auto rem(20);
  background-position: 0px;
  padding-left: rem(30);
  cursor: pointer;
  margin-top: rem(16);
}

.sidebar__category-items li a::before {
  background: $yellow;
  content: '';
  width: 100%;
  height: rem(2);
  position: absolute;
  left: 0;
  bottom: 0;
  margin: auto;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform .3s;
}

.sidebar__category-items li a:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

.sidebar__archive-content {
  margin-top: rem(24);
  color: $white;
  font-size: rem(16);
  padding-left: rem(32);
  cursor: pointer;
}

.sidebar__search-wrapper {
  margin-top: rem(24);
}