@use "global" as *;

.tab {
    display: inline-block;
    padding: rem(6);
    min-width: rem(120);
    background: $black;
    color: $yellow;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    border: solid rem(1) $yellow;
    opacity: 1;
    transition: .3s;
    cursor: pointer;
}

.tab.js-active {
    background: $yellow;
    color: $black;
}

.tab:hover {
    background-color: $yellow;
    color: $black;
}