@use "global" as *;

.title {
  font-family: $title-font-family;
  position: relative;
  padding: 0 rem(16) rem(16);
  -webkit-box-shadow: 0 rem(2) rem(14) rgba(0, 0, 0, .1);
  box-shadow: 0 rem(2) rem(14) rgba(0, 0, 0, .1);
  letter-spacing: 0.1em;
  width: fit-content;
  text-align: center;
  font-size: rem(32);
}

.title span {
  display: inline-block;
}

.title:after {
  position: absolute;
  left: 0;
  width: 100%;
  height: rem(2);
  content: '';
  bottom: 0;
  background-image: -webkit-linear-gradient(315deg, #704308 0%, #ffce08 40%, #e1ce08 60%, #704308 100%);
  background-image: linear-gradient(135deg, #704308 0%, #ffce08 40%, #e1ce08 60%, #704308 100%);
}

.title::first-letter {
  color: $yellow;
}

.title--youtube {
  text-align: left;
  width: 100%;
}