@use "global" as *;
#js-topFVswiper {
  width: 100%;
  height: 100vh;
  position: relative;
}

.topFVswiper__slide {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topFVswiper__slide img {
  display: block;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.topFVswiper__wrapper {
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
}
.topFVswiper__texts {
  z-index: 10;
  position: absolute;
  top: 49%;
  left: 50%;
  color: white;
  text-align: center;
  transform: translate(-50%, -50%);
}
@include mq("md") {
  .topFVswiper__texts {
    top: 49%;
    left: 50%;
  }
}
//topFV 大きいタイトル
.topFVswiper__main-text {
  font-family: $second-font-family;
  font-size: rem(40);
  letter-spacing: 0.5em;
  left: 1.2;
  font-weight: 400;
  text-indent: 0.5em;
  @include mq("md") {
    font-size: rem(80);
    line-height: 1.125;
    letter-spacing: 0.53em;
    text-indent: 0.53em;
  }
}
//topFV 小さいタイトル
.topFVswiper__sub-text {
  font-family: $title-font-family;
  font-size: rem(20);
  line-height: 1;
  margin-top: rem(0);
  @include mq("md") {
    margin-top: rem(10);
  }
}
