@use "global" as *;

.css-175oi2r {
    align-items: stretch;
    background-color: $white;
    border: 0px solid $black;
    box-sizing: border-box;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    list-style: none;
    margin: 0px;
    min-height: 0px;
    min-width: 0px;
    padding: 0px;
    position: relative;
    text-decoration: none;
    z-index: 0;
}

a.css-175oi2r.r-sdzlij.r-1phboty.r-rs99b7.r-lrvibr.r-k200y.r-1j93nrh.r-1mnahxq.r-19yznuf.r-64el8z.r-1fkl15p.r-o7ynqc.r-6416eg.r-1ny4l3l.r-1loqt21 {
    background-color: $black;
}