@use "global" as *;

.voice-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(49);

  @include mq("md") {
    gap: rem(80) rem(40);
    width: 100%;
    grid-template-columns: 1fr 1fr;
  }
}