@use "global" as *;

.youtube {
    display: grid;
    grid-template-columns: 1fr;
    gap: rem(24);

    @include mq("md") {
        grid-template-columns: 1fr 1fr;
    }
}

.youtube__video {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    height: 0;
}

.youtube__video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.youtube__text {
    margin-top: rem(16);
}